@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url("./assets/681e2aaae62de13d0a01fb25_InterTight-Regular.ttf");
}

body {
  font-family: 'Inter';
}

.hero{
  clip-path: polygon(0% 45%, 0% 45%, 0% 55%, 0% 55%);
  will-change: clip-path;
}

.wrapper{
  clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%);
}
